 <header>
    <%= link_to logo, root_path %>
		<nav class="round">
		<ul>
	<li><%=link_to 'Accueil', root_path%></li> 
	<!- retirer la logique de la vue(if,else,end)-> 
        <% if signed_in? %>
  <li><%= link_to "Profil", current_user %></li>    <li><%= link_to "Info", edit_user_path(current_user) %></li>
  <li><%= link_to "Utilisateurs", users_path %></li>
  <li><%= link_to "Deconnexion",signout_path, :method => :delete %></li>
	<% else	%>
  <li><%= link_to "Inscription",signup_path %></li>
  <li><%= link_to "S'identifier",signin_path %></li>
	<% end %>
    <li><%=link_to "Aide", help_path %></li>
	    </ul>
    </nav>
</header>
